/* ----- global ----- */

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

.hidden {
  display: none;
}

/* ----- header ----- */

main {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: auto;
}

header {
  align-items: center;
  background-color: #1f1f3d;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

h1{
  color: #ffffff;
  font-weight: 800;
  margin:0;
}

.word-yo {
  color: #fec40e;
}

.search-field {
  display: flex;
  width: 30%;
}

.btn__search {
  background-color: #c7d3d8;
  border: none;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  color: #1f1f3d;
  cursor: pointer;
  font-size: 20px;
  height: 40px;
  padding: 10px;
}

.input__search {
  border: none;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  font-size: 16px;
  height: 40px;
  margin-right: 5px;
  padding: 10px;
  width: 100%;
}

/* ----- aside ----- */

aside {
  background-color: #587a8b;
  height: 100%;
  width: 500px;
  padding: 15px;
}

h3 {
  color: #faf7f8;
  font-size: 12px;
  font-weight: 400;
}

.side-bar__task-display {
  display: flex;
  flex-direction: column;
}

div {
  display: flex;
}

.input__title {
  border: 1px solid #1f1f3d;
}

article {
  border-bottom: 1px solid black;
}

a {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input__task {
  border: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  width: 100%;
}

.btn__add-task {
  background-color: #1f1f3d;
  border: none;
  color: #ffffff;
  cursor: pointer;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  font-size: 20px;
  height: 40px;
  padding: 10px;
}

.btn__make-task,
.input__title,
.btn__clear,
.btn__filter,
.btn__urgency-filter {
  border: none;
  border-radius: 3px;
  margin: 5px;
  padding: 10px;
  width: 100%;
}

.btn__clear {
  margin-bottom: 20px;
}

.btn__make-task,
.btn__clear,
.btn__filter,
.btn__urgency-filter {
  background-color: #1f1f3d;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}

.btn__urgency-filter {
  margin-top: 20px;
}

.delete-item,
.check-item {
  height: 20px;
  margin: 20px;
}

li {
  color: #ffffff;
  list-style-type: none;
  margin-top: 20px;
}

ul {
  margin: 0;
  padding: 0;
}


/* ----- main container ----- */

section {
  background-color: #faf7f8;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.task-placeholder {
  color: #1f1f3d;
  font-size: 3.5em;
  font-weight: 700;
  text-align: center;
}

h2 {
  color: #1f1f3d;
  font-size: 16px;
  padding: 15px;
}

.task__list-item {
  color: #1f1f3d;
  font-size: 16px;
  font-weight: 400;
}

.task__list-card {
  border: 2px solid #c7d3d8;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  height: auto;
  margin: 20px;
  width: 300px;
}

.btn__urgent-task,
.btn__delete-card {
  height: 20px;
  margin: 10px;
  width: 20px;
}

.urgent-text,
.delete-text {
  font-size: 10px;
  margin: 0 10px 10px;
}

.add-task-field {
  cursor: pointer;
  display: flex;
  margin: 5px;
  width: 100%;
}

.border__card-title {
  border-bottom: 2px solid #c7d3d8;
  margin: 0;
}

.btns__task-card {
  border-top: 2px solid #c7d3d8;
  display: flex;
  justify-content: space-between;
}

.task__list {
  display: flex;
  flex-direction: column;
}

.task__list-checked {
  display: flex;
  flex-direction: row;
  font-style: italic;
  color: #3c6577;
}

.task__active {
  background-color: #ffe79d;
  border-color: #fec40e;
}

.btn__checkbox-filled {
  fill: #3c6577;
}

/* ------- first media query ---------- */

@media screen and (max-width: 550px) {

  header {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .search-field {
    width: 100%;
  }

  main {
    display: block;
  }

  aside {
    height: auto;
    width: auto;
  }

  section {
    flex-direction: row;
  }
}